literature/
miscellaneous/
.venv/
Lectures/
slides/test

*.desktop
*.pdf
*-blx.bib
*.synctex.gz
*.run.xml
*.log
*.out
*.bbl
*.blg
*.aux
*.toc
*.fls
*.fdb_latexmk
*.xoj
*.odp
*.toc
*.snm
*.nav

*.cpython-*-*.pyc
__pycache__/
.ipynb_checkpoints/
.vscode/

